<div class="toolbar" role="banner">
  <img width="40" alt="iReport Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>iReport - Dashboard</span>
</div>



<div class="row">

  <div class="column left">
    <app-reports-list (onItemClicked)='onReportListEvent($event)' (onObjectPicked)='setReport($event)'>
    </app-reports-list>
  </div>

  <div class="column right">

    <agm-map [latitude]="latitude" [longitude]="longitude">
      <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="displayModal()">
      </agm-marker>
    </agm-map>


    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">

        <span class="close" (click)="hideModal()">&times;</span>


        <p>User: {{report.user_id}}</p>
        <hr>
        <div class="img">
          <img src="{{report.photo.image_url}}" alt="Report photo.">
        </div>
        <p> <b>Details:</b> {{report.details}} </p>
        <p> <b>Current status:</b> "{{report.status}}"</p>
        <p> <b> Change status:</b> </p>

        <!-- check boxes -->
        <form [formGroup]="form" (ngSubmit)="submit()">
          <label
            formArrayName="orders"
            *ngFor="let order of form.controls.orders.controls; let i = index">
            <input type="checkbox" [formControlName]="i" />
            {{checkboxDataForNewStatus[i].name}}
          </label>
        
          <button>submit</button>
        </form>

      </div>

    </div>

  </div>

</div>